<div ng-controller="Aba1AlunoController as vm">

    <h3>Endereço</h3>

    <form>
        <input type="text" ng-model="vm.form.rua" placeholder="Rua">
        <br>
        <input type="text" ng-model="vm.form.numero" placeholder="Numero">
        <br>
        <input type="text" ng-model="vm.form.cep" placeholder="CEP">
        <br>
        <input type="text" ng-model="vm.form.cidade" placeholder="Cidade">
        <br>
        <input type="text" ng-model="vm.form.bairro" placeholder="Bairro">
        <br>
        <input type="text" ng-model="vm.form.estado" placeholder="Estado">
        <br>
        <input type="text" ng-model="vm.form.pais" placeholder="Pais">
        <button ng-click="vm.finalizar(); main.concluirAba1()">Enviar</button>
</div>

</form>

</div>