<div ng-controller="Aba4AlunoController as vm">

    <h3>Turma</h3>

    <form>
        <div ng-controller="Aba4AlunoController">

            <label>Selecione um curso:</label>

            <select ng-model="vm.cursoSelecionado"
                    ng-options="curso as (curso.nome + ' - ' + curso.periodo) for curso in vm.cursos"
                    ng-change="vm.getPeriodo(vm.cursoSelecionado)">
                <option value="">-- Escolha --</option>
            </select>

            <select ng-model="vm.periodoSelecionado">
            <option value="0">Manhã</option>
            <option value="1">Tarde</option>
            <option value="2">Noite</option>
        </select>
        <button ng-click="vm.finalizar(); main.concluirAba4()">Enviar</button>
            </div>
    </form>
</div>

</div>