<div ng-controller="Aba4AlunoController as vm">

    <h3>Turma</h3>

    <form>
        <div ng-controller="Aba4AlunoController">

            <label>Selecione um curso:</label>

            <select ng-model="vm.cursoSelecionado"
                    ng-options="curso as curso.nome for curso in vm.cursos"
            <option value="{{curso.id}}">-- Escolha --</option>
            </select>

            <p>Curso selecionado: {{ vm.cursoSelecionado }}</p>

        </div>

        <select ng-model="periodo">
            <option value="0">Manha</option>
            <option value="1">Tarde</option>
            <option value="2">Noite</option>
        </select>
        <button ng-click="vm.finalizar(); main.concluirAba4()">Enviar</button>
    </form>
</div>

</div>